streamlit
streamlit-chat
sentence-transformers
scikit-learn
scipy
torch
transformers
rank-bm25
google-generativeai
python-dotenv
PyPDF2
langchain-text-splitters
gTTS
pygame
SpeechRecognition
numpy
pandas
tqdm
regex
requests
